<!-- block_entry.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Block Entry</h1>
    <p>Use this form to generate a ModSecurity rule for one or more fields.</p>
    
    <form method="POST">
        {% csrf_token %}
        <div>
            <label>
                <input type="checkbox" name="block_ip" value="1">
                Block IP ({{ x_forwarded_for }})
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="block_vhost" value="1">
                Block Vhost ({{ vhost }})
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" name="block_path" value="1">
                Block Path ({{ path }})
            </label>
        </div>
        
        <button type="submit" class="btn btn-danger">Generate Rule</button>
    </form>
</div>
{% endblock %}

