{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="content">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <h1 class="h3 mb-3"><strong>Add New Mail User</strong></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-12 col-xxl-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">Mail User Information</h5>
          </div>
          <div class="card-body">
            <form action="{% url 'create_mail_user' %}" method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="id_domain" class="form-label">Domain</label>
                {{ form.domain }}
              </div>

              <div class="mb-3">
                <label for="id_local_part" class="form-label">Username (Local Part)</label>
                {{ form.local_part }}
              </div>

              <div class="mb-3">
                <label for="id_plain_password" class="form-label">Password</label>
                {{ form.plain_password }}
              </div>

              <div class="form-check mb-3">
                {{ form.active }}
                <label class="form-check-label" for="id_active">Active</label>
              </div>

              <button class="btn btn-primary" type="submit">
                <i data-feather="plus"></i> Add Mail User
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

