{% extends "base.html" %}
{% block content %}

                        <main class="content">
                                <div class="container-fluid p-0">

                                        <h1 class="h3 mb-3">DNS Records for {{ zone.name }}</h1>
                                        <div class="row">
                                                <div class="col-12 col-lg-12 col-xxl-12">
                                                        <div class="card">
                                                                <div class="card-header">
                                                                </div>
                                                                <div class="card-body">
  <ul>
    {% for record in records %}
      <li>
        <strong>Type:</strong> {{ record.type }} |
        <strong>Name:</strong> {{ record.name }} |
        <strong>Content:</strong> {{ record.content }}
      </li>
    {% endfor %}
  </ul>
								</div>
							</div>
                                                </div>
                                        </div>

                                </div>
                        </main>

{% endblock %}
