{% extends "base.html" %}
{% block content %}
                        <main class="content">
                                <div class="container-fluid p-0">

                                        <h1 class="h3 mb-3"><strong>Live Traffic Inspector</strong></h1>
                                        <div class="row">
                                                <div class="col-12 col-lg-12 col-xxl-12">
                                                        <div class="card">
                                                                <div class="card-body">

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 1px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
        input {
            width: 90%;
            padding: 5px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }
        .collapsed {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
            cursor: pointer;
        }
        .expanded {
            white-space: normal;
            cursor: pointer;
        }
    </style>

    <table id="logsTable">
        <thead>
            <tr>
                <th>Time <br><input type="text" onkeyup="filterTable(0)" placeholder="Filter by Time"></th>
                <th>Host <br><input type="text" onkeyup="filterTable(1)" placeholder="Filter by Host"></th>
                <th>Forwarded For <br><input type="text" onkeyup="filterTable(2)" placeholder="Filter by Forwarded For"></th>
                <th>Country <br><input type="text" onkeyup="filterTable(3)" placeholder="Filter by Forwarded For"></th>
                <th>Status <br><input type="text" onkeyup="filterTable(4)" placeholder="Filter by Status"></th>
                <th>Method <br><input type="text" onkeyup="filterTable(5)" placeholder="Filter by Method"></th>
                <th>Path <br><input type="text" onkeyup="filterTable(6)" placeholder="Filter by Path"></th>
                <th>Duration <br><input type="text" onkeyup="filterTable(7)" placeholder="Filter by Duration"></th>
                <th>Body</th>
                <td>
                    {% if log.vhost and log.x_forwarded_for and log.path %}
                    <a 
                        class="btn btn-danger btn-sm"
                        href="{% url 'block_entry' vhost=log.vhost x_forwarded_for=log.x_forwarded_for path=log.path %}"
                    >
                        Block
                    </a>
                    {% endif %}
                </td>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.time }}</td>
                <td>{{ log.vhost }}</td>
                <td>{{ log.x_forwarded_for }}</td>
                <td>
                    {% if log.flag_url %}
                    <img class="flag" src="{{ log.flag_url }}" alt="{{ log.country_name }}">
                    {% endif %}
                    {{ log.country_name }}
                </td>
                <td>{{ log.status }}</td>
                <td>{{ log.method }}</td>
                <td>{{ log.path }}</td>
                <td>{{ log.duration }}</td>
                <td class="collapsed" onclick="toggleBody(this)">{{ log.request_body }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function filterTable(columnIndex) {
            const input = event.target;
            const filter = input.value.toLowerCase();
            const isNegativeFilter = filter.startsWith("!"); // Check for negative filter
            const table = document.getElementById("logsTable");
            const rows = table.getElementsByTagName("tr");

            // Remove '!' for actual filtering value in negative filtering
            const actualFilter = isNegativeFilter ? filter.slice(1) : filter;

            for (let i = 1; i < rows.length; i++) { // Skip header row
                const cell = rows[i].getElementsByTagName("td")[columnIndex];
                if (cell) {
                    const textValue = cell.textContent || cell.innerText;
                    if (isNegativeFilter) {
                        // Negative filter: Hide rows that match the filter
                        rows[i].style.display = textValue.toLowerCase().includes(actualFilter) ? "none" : "";
                    } else {
                        // Regular filter: Show rows that match the filter
                        rows[i].style.display = textValue.toLowerCase().includes(actualFilter) ? "" : "none";
                    }
                }
            }
        }

        function toggleBody(cell) {
            if (cell.classList.contains("collapsed")) {
                cell.classList.remove("collapsed");
                cell.classList.add("expanded");
            } else {
                cell.classList.remove("expanded");
                cell.classList.add("collapsed");
            }
        }
    </script>

                                                                </div>
                                                        </div>
                                                </div>
                                        </div>

                                </div>
                        </main>
{% endblock %}
