{% extends "base.html" %}
{% block content %}
                        <main class="content">
                                <div class="container-fluid p-0">

                                        <h1 class="h3 mb-3"><strong>Settings</strong></h1>
                                        <div class="row">
                                                <div class="col-12 col-lg-12 col-xxl-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Live Traffic Inspector</h5>
								</div>
								<div class="card-body">
   <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Host</th>
                <th>Forwarded For</th>
                <th>Status</th>
                <th>Method</th>
                <th>Path</th>
                <th>Duration</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.time }}</td>
                <td>{{ log.vhost }}</td>
                <td>{{ log.x_forwarded_for }}</td>
                <td>{{ log.status }}</td>
                <td>{{ log.method }}</td>
                <td>{{ log.path }}</td>
                <td>{{ log.duration }}</td>
                <td>{{ log.request_body }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
									
								</div>
							</div>
                                                </div>
                                        </div>

                                </div>
                        </main>
{% endblock %}
