{% extends "base.html" %}
{% block content %}
                        <main class="content">
                                <div class="container-fluid p-0">

                                        <h1 class="h3 mb-3"><strong>{{ domain.domain_name }}</strong> details</h1>
                                        <div class="row">
                                                <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                                                        <div class="card flex-fill">
                                                                <div class="card-header">

                                                                        <h5 class="card-title mb-0">Database details</h5>
                                                                </div>
                                                                <table class="table table-hover my-0">
                                                                        <tbody>
                                                                                <tr>
                                                                                        <th class="d-none d-xl-table-cell">Database name</th>
                                                                                        <td>{{ domain.mariadb_user }}</td>
										</tr>
										<tr>
                                                                                        <th class="d-none d-xl-table-cell">Database user</th>
                                                                                        <td>{{ domain.mariadb_user }}</td>
										</tr>
										<tr>
                                                                                        <th class="d-none d-xl-table-cell">Database password</th>
                                                                                        <td>{{ domain.mariadb_pass }}</td>
                                                                                </tr>
                                                                        </tbody>
                                                                </table>
                                                        </div>

                                                </div>
                                        </div>
					<div class="row">
                                                <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                                                        <div class="card flex-fill">
                                                                <div class="card-header">

                                                                        <h5 class="card-title mb-0">SFTP/SCP Connection details</h5>
                                                                </div>
                                                                <table class="table table-hover my-0">
                                                                        <tbody>
                                                                                <tr>
                                                                                        <th class="d-none d-xl-table-cell">SFTP/SCP Port:</th>
                                                                                        <td>{{ domain.scp_port }}</td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <th class="d-none d-xl-table-cell">Username:</th>
                                                                                        <td>webuser</td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <th class="d-none d-xl-table-cell">Private key:</th>
                                                                                        <td>{{ domain.scp_privkey|linebreaks }}</td>
                                                                                </tr>
                                                                        </tbody>
                                                                </table>
                                                        </div>

                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                                                        <div class="card flex-fill">
                                                                <div class="card-header">

                                                                        <h5 class="card-title mb-0">DKIM details</h5>
                                                                </div>
                                                                <table class="table table-hover my-0">
                                                                        <tbody>
                                                                                <tr>
                                                                                        <th class="d-none d-xl-table-cell">DKIM Public key:</th>
                                                                                        <td>{{ domain.dkim_pubkey }}</td>
                                                                                </tr>
                                                                        </tbody>
                                                                </table>
                                                        </div>

                                                </div>
                                        </div>
                                </div>
                        </main>
{% endblock %}
