{% extends "base.html" %}
{% block content %}

                        <main class="content">
                                <div class="container-fluid p-0">

                                        <h1 class="h3 mb-3"><strong>List DNS zones</strong></h1>
                                        <div class="row">
                                                <div class="col-12 col-lg-12 col-xxl-12">
                                                        <div class="card">
                                                                <div class="card-header">
                                                                </div>
                                                                <div class="card-body">
    {% for zone in zones %}
      <li>{{ zone.id }} - {{ zone.name }}</li>
    {% endfor %}
<a href="{% url 'create_zone' %}">Create new zone</a>
								</div>
							</div>
                                                </div>
                                        </div>

                                </div>
                        </main>

{% endblock %}
